* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}
main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom,rgb(26, 26, 26),rgb(30, 30, 30),black);

    .mute{
        background-color: #333;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        cursor: pointer;
        top: 10px;
        right: 10px;
    }
    .mute i{
        font-size: 18px;
        color: white;
        
        pointer-events: none;
    }
    .mute:active{
        scale: 0.95;
    }


    section{
        height: 100%;
        width: 400px;
        background-color: black;
        margin: auto;
        border-radius: 15px;
        
        .all-reels::-webkit-scrollbar{
            display: none;
        }

        .all-reels{
            height: 100%;
            width: 100%;
            overflow: auto;
            scroll-snap-type: y mandatory;
            scroll-behavior: smooth;
            

            .reel{
                height: 100%;
                width: 100%;
                position: relative;
                overflow: hidden;
                border-radius: 15px;
                margin-bottom: 20px;
                scroll-snap-align: start;
                scroll-snap-stop: always;

                

                video{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 15px;
                }
                .bottom{
                    padding: 30px 20px;
                    width: 100%;
                    background: linear-gradient( to bottom,rgba(0, 0, 0, 0.09),rgba(0, 0, 0, 0.462));
                    position: absolute;
                    bottom: 0;
                    color: white;

                    h3{
                        font-weight: 500;
                        font-size: 18px;
                        margin-bottom: 10px;
                    }

                    .user{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-bottom: 20px;

                        h4{
                            font-weight: 400;
                            font-size: 16px;
                        }
                        button{
                            
                            padding: 8px 16px;
                            border: none;
                            border-radius: 5px;
                            background-color: rgb(0, 149, 246);
                            color: white;
                            font-weight: 500;
                            cursor: pointer;
                        }
                        
                        

                        img{
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            border: 2px solid white;
                            object-fit: cover;
                        }
                    }
                }
                .right{
                    padding: 30px;
                    width: 50px;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    // transform: translateX(%);
                    color: white;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    gap: 15px;
                    

                    .icons{
                        width: 50px;

                    }
                    h4{
                        pointer-events: none;
                    }
                    h6{
                        pointer-events: none;
                    }
                    
                    i{
                        font-size: 25px;
                        cursor: pointer;
                    }
                    .liked{
                        color: red;
                    }

                }
            }    
        }
    }
}